.topic-page-container{
    margin: 0 15rem;
}

.title {
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}

.section-p{
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0;
    margin-top: 1rem;
    background-color: darkgreen;
}

.topic-p{
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: darkred;
}

.subtopic-p{
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0;
    margin-top: 1rem;
    background-color: orange;
}

@media screen and (max-width: 1587px) {
    .topic-page-container{
        margin: 0 2rem;
    }
}