li {
    margin-right: 2rem;
    bottom: 0;
    transition: transform 0.3s ease;
}
.logo {
    height: 7rem;
    width: 11rem !important;
    transition: transform 0.3s ease;
}
.logo:hover,
li:hover {
    transform: scale(1.05);
}
.logout-btn:hover{
    background-color: red;
    border-radius: 5px;
}
@media screen and (max-width: 768px) {
    .header-container img{
        width: 3rem;
        height: 7rem;
    }
}