.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.login-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    cursor: pointer;
    border-radius: 15px;
}

.login-wrapper form:hover{
    cursor: auto;
}


.login-wrapper{
    background: transparent;
    color: #fff;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(30px);
    padding: 30px 40px;
    margin: 40px;
}

.login-wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 2rem;
}

.login-wrapper .login-input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.login-input-box input {
    width: 85%;
    height: 30%;

    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: #fff;
}

.login-input-box input::placeholder {
    color: #fff;
}

.login-input-box .login-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
}

.login-wrapper button {
    width: 50%;
    height: 150%;

    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;

    padding: 1rem;

    transition: background-color 0.2s ease;
}

.login-wrapper button:hover {
    background-color: lightgrey;
}

.login-wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p {
    font-size: 1rem;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .login-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    
    .login-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* width: 250px; */
        width: 12rem;
        /* padding: 0; */

        margin: 0;
    }

    .login-wrapper h1 {
        font-size: 1.5rem;
    }

    .login-wrapper>form {
        width: 12rem;
    }
    
    .login-wrapper>form>button{
        width: 7rem;
        height: 3rem;
        font-size: 1rem;
    }

    .login-input-box input {
        margin-right: 22rem;
        width: 90%;
        font-size: 0.9rem;
        padding: 1rem;
    }

    .login-icon{
        display: none;
    }

    .register-link {
        padding: 0;
    }
    
    .register-link p{
        font-size: 0.7rem;
    }
}