/* Footer */
.footer{
    padding: 16px;
    text-align: center;
    background-color: black;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    height: 19rem;
    margin-top: 13em;
  }

  .logo {
    width: 15rem;
  }
  
  .footer p {
    font-size: 25px;
    margin: 3rem auto;
    width: 100%;
    height: auto;
  }
  
  .vertical-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  @media screen and (max-width: 768px) {
    .footer img{
      width: 3rem;
      height: 7rem;
    }

    .footer p{
      font-size: 0.7rem;
    }
}