h1 {
    font-size: 4rem;
    align-items: center;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 2rem;
    color: rgb(188, 187, 179);
}
.title-container{
    display: flex;
    align-items: flex-end;
}
.ql-editor {
    color: white;
}
.ql-editor h1 {
    font-size: 3rem;
}
.ql-editor h2{
    align-items: start;
    display: flex;
}
.subtopic-container{
    margin: 0 15rem;
    align-items: start;
}

.cover-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover-preview img{
    width: 50%;
    border-radius: 25px;
}
.section-item-btns-subtopic {
    display: flex;
    align-items: flex-end;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

em {
    font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
    .subtopic-container{
        margin:0.5rem;
    }

    .section-item-btns-subtopic {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
    }

    .section-delete-btn{
        margin-top: 1rem;
    }
}