h1 {
    align-items: center;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 3rem;
    color: rgb(188, 187, 179);
}
.title-container{
    display: flex;
    align-items: flex-end;
}
.ql-editor {
    color: white;
}
.ql-editor h2{
    align-items: start;
    display: flex;
}
.subtopic-container{
    margin: 0 15rem;
    align-items: start;
}

.cover-preview {
    width: 50%;
    margin: auto;
}

.cover-preview img{
    width: 100%;
    border-radius: 25px;
}
.section-item-btns-subtopic {
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 768px) {
    .subtopic-container{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}