h1 {
    align-items: center;
}
h2{
    font-size: 3rem;
}
.ql-editor {
    color: white;

}
.subtopic-container{
    margin: 0 2rem;
    align-items: start;
}

.cover-preview {
    width: 50%;
    margin: auto;
}

.cover-preview img{
    width: 100%;
    border-radius: 25px;
}