.edit-container{
    padding: 5rem;
}

.edit-container h1{
    font-size: 5rem;
}

.section-form{
    margin: 0 40rem;
}
p {
    align-items: baseline;
}

.section-form input {
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 2rem;
}
.cover-container{
    justify-content: space-between;
}

.section-cover-input{
    color: white;
}

.section-add-btn{
    background-color: green;
    color: white;
    width: 100%;
    width: 10rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.section-add-btn:hover{
    background-color: darkgreen;
}

.section-cancel-btn{
    background-color: red;
    color: white;
    width: 100%;
    width: 10rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.section-cancel-btn:hover{
    background-color: darkred;
}

.clear-img-btn{
    background-color: red;
    color: white;
    width: 10rem;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.clear-img-btn:hover{
    background-color: darkred;
}

.cover-preview .uploaded-row {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0;
}

.cover-preview h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.cover-preview .uploaded-row p {
    font-size: 16px;
}


@media screen and (max-width: 1587px) {
    .section-form{
        margin: 0 2rem;
    }
}

@media screen and (max-width: 768px) {
    
    .edit-container h1 {
        font-size: 3rem;
    }
    .cover-preview h1 {
        margin-top: 1rem;
        font-size: 2rem;
    }
    .cover-preview {
        margin: 0;
    }
    
    .cover-preview img {
        padding: 0;
        width: 454px;
    }
    
    .cover-container form {
        width: 15rem;
    }

    .section-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    .section-form input {
        font-size: 1.5rem;
    }

    .section-form button {
        font-size: 1rem;
        padding: 1rem;
        margin: 1rem;
    }


}