body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
html { 
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  overflow-x: hidden;
}

h1 {
  color: azure;
  font-size: 4rem;
  padding: 0rem 0 2rem 1rem;
}

a {
  text-decoration: none;
  transition: transform 0.3s ease;
}
a:hover{
  transform: scale(1.04);
}

button {
  border: none;
}
button:hover {
  cursor: pointer;
}

input {
  border-radius: 15px;
}

.horizontal-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between
}

.back-btn{
  color: white;
  background-color: red;
  width: 2rem;
  height: 1.5rem;
  border-radius: 15px;
  padding: 0.5rem;
  margin-top: 5rem;
}

.back-btn:hover{
  background-color: darkred;
}