.section-form{
    margin: 0 40rem;
}
p {
    align-items: baseline;
}

.section-form input {
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 2rem;
}
.cover-container{
    justify-content: space-between;
}

.section-cover-input{
    color: white;
}

.section-add-btn{
    background-color: green;
    color: white;
    width: 100%;
    width: 10rem;
    padding: 1rem;
}
.section-add-btn:hover{
    background-color: darkgreen;
}

.clear-img-btn{
    background-color: red;
    color: white;
    width: 10rem;
    height: 5rem;
}
.clear-img-btn:hover{
    background-color: darkred;
}
@media screen and (max-width: 1587px) {
    .section-form{
        margin: 0 2rem;
    }
}

@media screen and (max-width: 768px) {
    .section-add-container { 
        margin-top: 2rem;
        padding: 1rem;
    }
    .section-add-container .section-form{ 
        margin-top: 2rem;
    }
}